*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caroussel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f0f0f;
}

.caroussel {
    max-width: 70%;
    overflow: hidden;
}

.caroussel-item {
    display: none;
    text-align: center;
}

.caroussel-item img {
    max-width: 100%;
    height: auto;
}

.caroussel-item.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}